@font-face {
    src: url(fonts\poppins.ttf);
    font-family: poppins;
}
/**hover animation type2**/
figure.snip0025 {
    font-family: poppins;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    background: #000000;
    text-align: left;
  }
  figure.snip0025 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0025 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  figure.snip0025 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  figure.snip0025 > div::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    background-image: linear-gradient(45deg, #000000 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8));
  }
  figure.snip0025 h2 {
    word-spacing: -0.1em;
    font-weight: 400;
    text-transform: uppercase;
    top: 0;
    opacity: 0;
    padding: 25px;
    margin: 0;
    position: absolute;
    color: transparent;
    text-shadow: 0 0 10px #ffffff;
    text-align: right;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip0025 h2 span {
    font-weight: 800;
  }
  figure.snip0025 i {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    padding: 6px 16px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: 0.05s linear;
    transition: 0.05s linear;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  figure.snip0025 .curl {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(225deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
  }
  figure.snip0025 .curl:before,
  figure.snip0025 .curl:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12%;
    bottom: 6%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    transform: skew(-10deg) rotate(-6deg);
  }
  figure.snip0025 .curl:after {
    left: auto;
    right: 6%;
    bottom: auto;
    top: 14%;
    transform: skew(-15deg) rotate(-84deg);
  }
  figure.snip0025 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.snip0025:hover > div h2,
  figure.snip0025.hover > div h2 {
    opacity: 1;
    text-shadow: 0 0 0px #ffffff;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0025:hover > div::before,
  figure.snip0025.hover > div::before {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip0025:hover i,
  figure.snip0025.hover i {
    opacity: 0.7;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  figure.snip0025:hover .curl,
  figure.snip0025.hover .curl {
    width: 90px;
    height: 90px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .about1 {
    color: white;
    font-family: poppins;
    font-size: 24pt;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

  /**Mouse Cursor Animation**/
  .cursor {
    z-index: 999;
    position: fixed;
    background: #ff76c6;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #913076,
        0 0 60px #913076,
        0 0 100px #913076;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
}

.cursor:before {
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}/*Mouse Cursor Animation end*/